<!DOCTYPE html>
<html>
  <head>
    <title>LnTask</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    
  </head>

  <body class="flex lg:flex-row md:flex-row sm:flex-col">
    <%= render "shared/navbar" %>
    <div class="container border w-full h-auto min-h-screen">
      <%= turbo_frame_tag :messages %>
      
      <% flash.each do |key, message| %>
        <%= render partial: 'shared/flash', locals: { key: key, message: message } %>
      <% end %>

      <h1 class="text-center text-4xl p-4 border">Tasks</h1>
    <main class="container mx-auto mt-28 px-5 flex">
  
      <%= yield %>
    </main>
    </div>
  </body>
</html>
